{% import _self as self %}

{% macro tabulation(item) %}
    {% if ((item.role is not defined or is_granted(item.role)) and (item.roles is not defined or user_business.isGrantedWithStrategy(item.roles, app.user, item.role_strategy|default(null)))) and (item.module is not defined or module_parameter_business.moduleActive(item.module, item.module_strategy|default(constant('App\\Service\\Annotation\\HasModule::UNANIMOUS_STRATEGY')))) %}
        {% if item.icon is not defined %}
            {% set item = item|merge({'icon': 'fa fa-arrow-alt-circle-right'}) %}
        {% endif %}
        {% if item.sub_items is defined %}
            {{ self.tabulation_with_sub_items(item) }}
        {% else %}
            {{ self.tabulation_only(item) }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro tabulation_with_sub_items(item) %}
    <li class="treeview{{ is_tabulation_active(item) ? ' active' }}">
        <a href="#">
            {% include 'Widget/Icon/FontAwesome/base.html.twig' with {'class': item.icon} %}
            <span>{{ item.name }}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            {% for sub_item in item.sub_items %}
                {{ self.tabulation(sub_item) }}
            {% endfor %}
        </ul>
    </li>
{% endmacro %}

{% macro tabulation_only(item) %}
    <li{% if is_tabulation_active(item) %} class="active"{% endif %}>
        <a href="{{ item.route is defined ? path(item.route) : item.url }}">
            {% include 'Widget/Icon/FontAwesome/base.html.twig' with {'class': item.icon} %}
            <span>{{ item.name }}</span>
        </a>
    </li>
{% endmacro %}

{{ self.tabulation(item) }}
